<%= form_for(done) do |f| %>
  <% if done.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(done.errors.count, "error") %> prohibited this done from being saved:</h2>

      <ul>
      <% done.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :challenge_id %>
    <%= f.number_field :challenge_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
