<p id="notice"><%= notice %></p>

<h1>Dones</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Challenge</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dones.each do |done| %>
      <tr>
        <td><%= done.user_id %></td>
        <td><%= done.challenge_id %></td>
        <td><%= link_to 'Show', done %></td>
        <td><%= link_to 'Edit', edit_done_path(done) %></td>
        <td><%= link_to 'Destroy', done, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Done', new_done_path %>
