<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<%= form_for(@user) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "Save changes" %>    
<% end %>

<div align="center"><%= link_to 'Show', @user %></div>
<%= button_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', :back %>
