<div style="border: 0.5px solid gray; padding: 10px;">
    <%= form_for(@challenge) do |f| %>
  <div class="field">
    <%= f.text_area :content, placeholder: "New challenge..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
</div>

<section class="search_bar">
	<%= image_tag "searchicon.png", class: "col-xs-3 col-md-6" %>
		 <input type="search" name="search" placeholder="Pesquisar desafio.."> 
</section>

<table align="center">
	<% if @feed_items.any? %>
		<%= render @feed_items %>
	<% end %>
	<% if @global_feed_items.any? %>
		<h2>Global:</h2>
		<%= render @global_feed_items %>
	<% end %>
	<% if not @feed_items.any? or @global_feed_items.any? %>
		<h5> Nenhum desafio... </h5>
	<% end %>
</table>
