<p id="notice"><%= notice %></p>

<% provide(:title, @user.name) %>

<section class="search_bar">
  <%= image_tag "searchicon.png", class: "col-xs-3" %>
  <%= form_tag "/users/search", class: "col-xs-9", autocomplete: 'off' do %>
      <%= text_field_tag :name %>
  <% end %>
</section>
<br>
<section>
  <%= gravatar_for @user %>

  <span class="user-name"><%= @user.name %></span>

</section>


<br>
<% if logged_in? %>
  <% unless current_user?(@user) %>
    <% if current_user.following?(@user) %>
      <%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
                   html: { method: :delete }) do |f| %>
        <%= f.submit "Unfollow", class: "btn" %>
      <% end %>
    <% else %>
      <%= form_for(current_user.active_relationships.build) do |f| %>
        <div><%= hidden_field_tag :followed_id, @user.id %></div>
        <%= f.submit "Follow", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  <% else %>
      <%= link_to "Settings", edit_user_path %>
      <%= button_to "Logout", logout_path, method: :delete %>
  <% end %>
<% end %>

<br>
<div style="float: left;">
    <h4>Challenges: </h4>
  <p>
    <strong>Done: </strong>     
    <%= link_to @user.dones.count  %>

  </p>
  <p>
    <strong>Writen:</strong>
    <%= link_to @user.challenges.count  %>
  </p>
</div>
<div style="float: right;">
  <h4> Social: </h4>
<p>
  <strong> Followers: </strong>
    <%= link_to @user.followers.count, followers_user_path(@user) %>
</p>
<p>
  <strong> Following: </strong>
  <%= link_to @user.following.count, following_user_path(@user) %>
</p>
</div>
<div class="col-xs-12">
<% if @user.challenges.any? %>
  <h3>Challenges (<%= @user.challenges.count %>)</h3>
    <%= render @challenges %>
  <% end %>
</div>

