<p style="border: 1px solid black; border-color: black; padding: 5px;" >
  <%= link_to gravatar_for(challenge.user, size: 30), challenge.user %>
  <span><%= link_to challenge.user.name, challenge.user %></span>
  <br>
  <span><%= challenge.content %></span>
  <br>
  <% if challenge.photo? %>
    <%= image_tag(challenge.photo, style:"width: 100%") %>
  <br>
    
  <% end %>
  <% if challenge.movie? %>
    <%= video_tag(challenge.movie, controls: true, type: 'video/mp4' , style:"width:100%") %>
  <br>

  <%end %>
  <span><%= challenge.get_upvotes.size %></span>
  <% if current_user.voted_for? challenge %>
    <span><%= link_to "Unvote", unvote_challenge_path(challenge), method: :put %></span>
  <% else %>
    <span><%= link_to "Like", like_challenge_path(challenge), method: :put %></span>
  <% end %>
  <span><%= link_to pluralize(challenge.comments.count, "comment"), challenge %></span>
  <br>

  <span style="font-size: 10px">
    Posted <%= time_ago_in_words(challenge.created_at) %> ago.
  </span>
</p>