<div style="border: 0.5px solid gray; padding: 10px;">
    <%= form_for :challenge, url: challenges_path, html: {multipart: true} do |f| %>
  <div class="field">
    <%= f.text_area :content, placeholder: "New challenge..." %>
  	<%= f.label :photo %><br>
  	<%= f.file_field :photo, class: 'form_control' %>
  	<%= f.label :movie %><br>
  	<%= f.file_field :movie, class: 'form_control' %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
</div>

<section class="search_bar">
  <%= image_tag "searchicon.png", class: "col-xs-3" %>
<<<<<<< HEAD:app/views/challenges/feed.html.erb
    <%= form_tag "/users/search", class: "col-xs-9" do %>
      <%= text_field_tag :name %>
=======
  <%= form_tag "/challenges/search", class: "col-xs-9", autocomplete: 'off' do %>
    <%= text_field_tag :content %>
>>>>>>> 44eaf8ff913b3046dbefabb185c2f751aa525ab6:app/views/challenges/feed.html.erb
  <% end %>
</section>

<table align="center">
	<% if @feed_items.any? %>
		<%= render @feed_items %>
	<% end %>
	<% if @global_feed_items.any? %>
		<h2>Global:</h2>
		<%= render @global_feed_items %>
	<% end %>
	<% if not @feed_items.any? or @global_feed_items.any? %>
		<h5> Nenhum desafio... </h5>
	<% end %>
</table>
