<div class="row" style="margin-top: 5%;">
    <%= form_for :challenge, url: challenges_path, html: {multipart: true} do |f| %>
  <div class="com-xs-12">

    
    <%= f.text_area :content, placeholder: "New challenge...", class: "col-xs-12" %>
  <div class="image-upload col-xs-6">
    <label for="file-input">
     <span class="glyphicon glyphicon-camera"></span>
    </label>

    <%= f.file_field :photo, id:"file-input" %>
    </div>
  </div>
  <%= f.submit "Post", class: "btn btn-primary col-xs-6" %>
<% end %>
</div>

<section class="search_bar">
  <%= image_tag "searchicon.png", class: "col-xs-3" %>
  <%= form_tag "/challenges/search", autocomplete: 'off' do %>
    <%= text_field_tag :content, params[:content], size: 150, placeholder:"Desafio" , class: "col-xs-9", style: "margin-top:2.8%;"%>
  <% end %>
</section>

<table align="center">
	<% if @feed_items.any? %>
		<%= render @feed_items %>
	<% end %>
	<% if @global_feed_items.any? %>
		<h2>Global:</h2>
		<%= render @global_feed_items %>
	<% end %>
	<% if not @feed_items.any? or @global_feed_items.any? %>
		<h5> Nenhum desafio... </h5>
	<% end %>
</table>
