<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @challenge.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @challenge.user_id %>
</p>

<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
