<p id="notice"><%= notice %></p>


<h1><%= @challenge.content %></h1>

<% if @challenge.photo? %>
    <%= image_tag(@challenge.photo, style:"width: 100%") %>
  <% end %>
  <% if @challenge.movie? %>
    <%= video_tag(@challenge.movie, controls: true, type: 'video/mp4' , style:"width:100%") %>
  <%end %>
  <br>
<p style="float: right;">by:<%= link_to @challenge.user.name, @challenge.user %></p> 



<br>
<h4> Comments: </h4>
<% if @challenge.comments.any? %>
	<% @challenge.comments.each do |comment| %>
		<br>
		<div style="border: 0.5px solid black; padding: 5px;">
		<%= link_to comment.user.name, comment.user %>:
		<%= comment.comment %> 
		<br>
	</div>
	<% end %>
<% else %>
	<h5> Nenhum comentário...</h5>
<% end %>
<br>
<% if logged_in? %>
	<%= form_for ([@challenge, @challenge.comments.build]) do |f| %>
	    <%= f.text_area :comment %>
	    <%= f.submit "Comment" %>
	<% end %>
<% end %>

<%= button_to 'Destroy', @challenge, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', feed_path %>
