<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @challenge.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @challenge.user.name %>
</p>

<%= button_to 'Destroy', @challenge, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', challenges_path %>
