<!DOCTYPE html>
<html>
  <head>
    <title>Testapp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header class="col-xs-12">
      <section class="container container-fluid">
        <% if logged_in? %>
          <%= link_to "Log out", logout_path, method: :delete %>
        <% else %>
          <%= link_to "Log in", login_path,  class: "btn btn-lg btn-primary" %>
        <% end %>
      </section>
    </header>
    <main class="col-xs-12">
      <div class="col-xs-12 col-sm-offset-3 col-md-offset-5"><%= yield %></div>
        
    </main>
  </body>
</html>
